<p></p>

<% @bill = Bill.find(bill.id) %>

<%= form_tag url_for(:controller => "favorites", :action => "create"), :method => :POST do %>
 <div class="form-group">
    <%= hidden_field_tag :rdpath , local_assigns[:rdpath]  %>
    <%= hidden_field_tag :id , @bill.id %>

    <%if !current_user %>
        <%= button_tag(type: "submit", class: "btn btn-default btn-save") do %>
          <i class="fa fa-star" aria-hidden="true" style="padding-right: 5px"></i> Save
        <% end %>
    <% else %>
        <% if current_user.favorites.where(bill_id: @bill.bill_id).present? %>
        
          <%= link_to favorites_remove_two_path(@bill), method: "delete", class: "btn btn-default btn-unsave" do %>
            Unsave
          <% end %>
    
        <% else %>
            <%= button_tag(type: "submit", class: "btn btn-default btn-save") do %>
                <i class="fa fa-star" aria-hidden="true" style="padding-right: 5px"></i> Save
            <% end %>
        <% end %>
    <% end %>
 </div>
<% end %>

