<p><%= link_to bill.title, bill_path(:bill_id=>bill.bill_id), class: "bill-link" %></br>

<table class="search-layout">
  <tr>
    <td>Status:</td>
    <% if bill.status == true %>
      <td><i class="fa fa-toggle-on" aria-hidden="true" style="color:#00b900; margin-right:7px"></i>Active</td>
    <% else %>
      <td><i class="fa fa-toggle-off" aria-hidden="true" style="margin-right:7px"></i>Not Active</td>
    <% end %>
  </tr>
  <tr>
    <td>Sponsor:</td>
    <td><b><%= bill.sponsor_party %></b>, <%= bill.sponsor %> - <%= bill.sponsor_state %></td>
  </tr>
  <tr>
    <td>Introduced:</td>
    <td><%= bill.date.to_date.strftime("%B, %d, %Y") %></td>
  </tr>
</table>

<%= link_to new_user_session_path(:saveAlert=>true), class: "btn btn-default btn-save" do %>
    <i class="fa fa-star" aria-hidden="true" style="padding-right: 5px"></i> Save
<% end %>
  