<div class="container">
<div class="row page-row">

    <div class="col-md-4 col-md-push-8">
    
        <%= render 'searches/form' %>

    </div>

    <div class="col-md-8 col-md-pull-4">
        <h2>Saved Bills</h2>

        <% @user.favorites.each do |favorite| %>
        
            <%= link_to favorite.title, favorite_path(:format => favorite.id), class: "bill-link" %>
            
            <table class="search-layout">
              <tr>
                <td>Status:</td>
                <% if favorite.status == true %>
                  <td><i class="fa fa-toggle-on" aria-hidden="true" style="color:#00b900; margin-right:7px"></i>Active</td>
                <% else %>
                  <td><i class="fa fa-toggle-off" aria-hidden="true" style="margin-right:7px"></i>Not Active</td>
                <% end %>
              </tr>
              <tr>
                <td>Sponsor:</td>
                <td><b><%= favorite.sponsor_party %></b>, <%= favorite.sponsor %> - <%= favorite.sponsor_state %></td>
              </tr>
            </table>
        
            <%= render 'favorites/remove', favorite: favorite %>
        
        <% end %>

    </div>

</div>
</div>