<% if params[:alert] == "true" %>
  <% flash.alert = "Sign in or sign up to save bills" %>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-warning wrap">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="row col-width">

  <div class="col-md-3 col-sm-12 login-border">

    <h3>Current User</h3>
    <div class="auth-space"></div>
    <div class ="auth block">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, :class=>"form-control", autofocus: true %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, :class=>"form-control", autocomplete: "off" %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "Log in", :class=>"btn btn-basic" %>
        </div>
      <% end %>
      <br>
      <p><%= link_to "Forgot your password?", new_password_path(resource_name), :class=>"auth" %></p>
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
    </div>
    
  </div>

  <div class="col-md-3 col-sm-4 mid-field">
    
    <h3>New Account</h3>
    <div class="auth-space"></div>
    <%= render "users/registrations/new" %>
    
  </div>
  
  <div class="col-md-3 col-sm-4 auth" style="margin-left: 0px;"> 
    <h3>&nbsp;</h3>
    <div class="auth-space"></div>
      <div style="padding-bottom:35px;">
      <div class="logo-info" style="padding-top:35px;">
      <p>ACCOUNT BENEFITS</p>
        <table>
        <tr>
          <td><i class="fa fa-star" aria-hidden="true"></i></td>
          <td>Save searched bills</td>
        </tr>
        <tr>
          <td><i class="fa fa-star" aria-hidden="true"></i></td>
          <td>Access your last ten searches</td>
        </tr>
        </table>
      </div>
    </div>
    
  </div>
  
</div>
