<h4>Search View</h4>

<%= render 'form' %>

<p>@results.inspect --------- <%= @results.inspect %></p>

<p>params["subject"] --------- <%= params["subject"] %></p>

<p>params.inspect --------- <%= params.inspect %></p>

<p>current user --------- <%= current_user.email %></p>

<!-- do read more link on search results and link to full bill (opens in another window) -->
    <!-- can favorite based on that information -->
    <!-- favorite page should have link to page that is constantly updated -->
    
<%= render 'new' %>

<!-- locals: { @results.inspect } -->